@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black;
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  color: #fff;
  padding: 0px 0;
  text-align: center;
  width: 100%;
  /*background-image: url("/whissker-logo.png");*/
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 8% 8%;
}

nav {
  
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display:inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li a:hover {
  text-decoration: underline;
}


header .picture {
  opacity: 80%;
  width: max-content;
}

main {
  padding: 20px;
  /*background-image: url("/whissker-logo.png");*/
  /*background-color: black;*/
}

main a {
  text-decoration: none;
  color: white;
}

main a:hover {
  text-decoration: underline;
  color: white;
}

main .pictureL {
  opacity: 70%;
  text-align: left;
  float: left;
  margin-bottom: auto;
  margin-top: 40px; /* Make auto for fixed */
  margin-left: 10px;
  margin-right: 20px;
}

main .pictureR {
  opacity: 70%;
  text-align: right;
  float: right;
  margin-bottom: auto;
  margin-top: 90px; /* Make auto for fixed */
  margin-left: 20px;
  margin-right: 10px;
}

main .curve {
  border-radius: 20px;
}

main section {
  margin-bottom: auto;
  margin-top: auto;
  background-color:transparent;
  color: white;
}

main .textL {
  text-align: center;
  font-size: 1.3em;
  /* border:2px solid grey; */
  background-color: rgb(90, 90, 90);
  fill-opacity: 80%;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  margin-right: 25%;
}

main .textR {
  text-align: center;
  font-size: 1.3em;
  /* border:2px solid grey; */
  background-color: grey;
  fill-opacity: 80%;
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  margin-left: 25%;
}

main h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin: 10px 0;
  }

  main {
      padding: 10px;
  }

  main h2 {
      font-size: 1.5em;
  }
}
